@using TatterFitness.Models.Workouts

@model IQueryable<WorkoutVideos>

@section viewRefs {
    <link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">
    <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">

    <script src="~/js/mvc-grid/mvc-grid.js"></script>
    <script src="https://unpkg.com/video.js/dist/video.min.js"></script>
}

<table>
    <tr>
        <td style="vertical-align:top;">
            @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.WorkoutDate).Titled("Workout Date").Formatted("{0:d}").Filterable(false);
        columns.Add(model => model.ExerciseName).Titled("Exercise").Filterable(GridFilterType.Multi).Css("exercise-text");
        columns.Add(model => model.SetSummaries).Titled("Set Summaries").Filterable(false)
            .RenderedAs(model =>
            {
                var items = model.SetSummaries.Select(s => $"<li>{s}</li>").ToArray();
                var summaries = string.Join(' ', items);
                return $"<ul>{summaries}</ul>";
            })
            .Sortable(false)
            .Encoded(false);

        columns.Add(model => model.VideoIds).Css("collapse");
    })
    .Empty("No videos found")
    .Using(GridFilterMode.Excel)
    .Filterable()
    .Sortable()
    .Pageable(pager =>
    {
        pager.PageSizes = new Dictionary<Int32, String> { { 5, "5" }, { 10, "10" }, { 14, "14" } };
        pager.ShowPageSizes = true;
        pager.CurrentPage = 1;
        pager.RowsPerPage = 14;
    })
    .Css("css-cliasses")
    .AppendCss("table-hover")
)

        </td>

        <td style="vertical-align:top">
            <div id="buttons-container">
            </div>

            <video id="tatter-video"
                   class="video-js"
                   autoplay="true"
                   loop="true"
                   width="600"
                   controls
                   preload="auto"
                   data-setup='{}'>
                <source id="videoSrc" type="video/mp4" />
            </video>
        </td>
    </tr>
</table>

